{{/* layouts/_default/_markup/render-image.html */}}
{{- $cdn := site.Params.cdn_base | default "" -}}
{{- $src := .Destination | safeURL -}}

{{/* If it's already absolute (http, https, data:), leave as-is */}}
{{- $isAbs := or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}
{{- $isData := hasPrefix $src "data:" -}}

{{- $norm := cond (or $isAbs $isData) $src (printf "/%s" (strings.TrimPrefix "/" $src)) -}}
{{- $final := cond (and (ne $cdn "") (not $isAbs) (not $isData)) (printf "%s/%s" (strings.TrimRight "/" $cdn) (strings.TrimPrefix "/" $norm)) $norm -}}

<img src="{{ $final }}"
     alt="{{ .Text }}"
     {{ with .Title }}title="{{ . }}"{{ end }}
     loading="lazy"
     decoding="async"
     class="w-full h-auto" />