{{ define "main" }}
  {{ partial "page-header" . }}
  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <div class="lg:col-8">
          <div class="row">
            {{ range .Sections }}
              <div class="md:col-6 mb-14">
                {{ partial "components/album-card" . }}
              </div>
            {{ end }}
            {{ range .RegularPages }}
              <div class="md:col-6 mb-14">
                {{ partial "components/album-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}